.bg-gallery, gallery-container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

@media only screen and (max-width: 960px), only screen and (max-device-width: 960px) {
    .bg-gallery {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
}

/*.gallery-container .gallery-ctr {
    position: absolute;
    right: 0;
    top: 0;
    width: 116px;
    height: 44px;
    background: url(../../../images/btn.png) no-repeat;
}

.gallery-ctr li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 54px;
    height: 44px;
    list-style: none;
}*/

.gallery-item {
    width: 240px;
    margin: 0 auto;
    display: inline-block;
    *display: inline;
    zoom: 1;
    float: left;
    position: relative;
    -webkit-perspective: 240;
    -moz-perspective: 240;
    -ms-perspective: 240;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    padding: 0 10px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
}

.item-detail {
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all .5s linear;
    -moz-transform-style: preserve-3d;
    -moz-transition: all .5s linear;
    -ms-transform-style: preserve-3d;
    -ms-transition: all .5s linear;
    -webkit-box-shadow: 5px 5px 5px #aaa;
    -moz-box-shadow: 5px 5px 5px #aaa;
    box-shadow: 5px 5px 5px #aaa;
}

.gallery-item .item-data {
    position: relative;
    width: 220px;
    vertical-align: top;
}

.gallery-item .item-content {
    position: relative;
    z-index: 2;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

.gallery-item .item-title {
    width: 100%;
    height: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-shadow: 1px 1px #000;
}

.gallery-item .item-describe {
    width: 100%;
    padding: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    background: #ffffff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGUwZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #e0e0e0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e0e0e0));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e0e0e0 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#e0e0e0 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#e0e0e0 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 );
}

.item-describe h4 {
    color: #333;
    font: italic lighter 16px/1.2 Baskerville,Palatino,"Book Antiqua",serif;
    text-shadow: 1px 1px #fff;
}

.flip-show {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-box-shadow: -5px 5px 5px #aaa;
    -moz-box-shadow: -5px 5px 5px #aaa;
    box-shadow: -5px 5px 5px #aaa;
}

/*tool*/
.item-tool {
    font: normal 40px/46px 'mbIcon';
    width: 100%;
    margin: -10px 0 0 0;
    font-weight: normal;
    text-align: center;
}

.item-tool span {
    cursor: pointer;
}

/*expanded item*/
.item-data {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

@font-face {
    font-family: 'mbIcon';
    src: url('mbIcon.eot');/*IE6,7,8,10,11*/
    src: url('mbIcon.eot-iefix') format('embedded-opentype'),/*IE9*/
         url('mbIcon.woff') format('woff'),/*FF3.6+*/
         url('mbIcon.ttf') format('truetype'),/*FF3.5,webkit*/
         url('mbIcon.svg') format('svg');/*webkit,opera*/
    font-weight: normal;
    font-style: normal;
}