.list {
    margin-top: 4px;
    padding: 0 16px;
    font-size: 14px;
    line-height: 16px;
}
.line {
    padding-bottom: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}