.ads {
    display: flex;
    background: #313131;
    padding-left: 16px;
    color: #fff;
}

.text {
    padding: 11px 0 12px 0;
    flex: 1;
}
.text-inline {
    padding: 11px 0 12px 0;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn {
    padding: 11px 16px 12px 4px;
    cursor: pointer;
    text-decoration: underline;
}
.link {
    text-decoration: underline;
}