/*loading*/
.place-holder {
    font: italic 20px/2 Baskerville,Palatino,"Book Antiqua",serif;
    width: 680px;
    margin: 0 auto;
    display: block;
    text-align: center;
}

/*collapse*/
.blog-pre {
    margin: 0 auto 20px auto;
    width: 640px;
    border-bottom: 2px solid #ccc;
    cursor: pointer;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.blog-pre:hover {
    border-bottom: 2px solid #D3D3D3;
    -webkit-box-shadow: 0 10px 10px #D3D3D3;
    -moz-box-shadow: 0 10px 10px #D3D3D3;
    box-shadow: 0 10px 10px #D3D3D3;
}

.blog-pre .pre-container {
    margin: 20px 20px 10px 20px;
    height: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pre-container header {
    padding: 20px 0;
    font-size: 34px;
    line-height: 1.2;
    font-weight: bolder;
    color: #303030;
    border-bottom: 1px solid #ddd;
}

.pre-container nav {
    display: inline-block;
    line-height: 1.5;
    border: 1px solid #ddd;
    border-top: none;
    margin-bottom: 20px;
    padding: 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -webkit-box-shadow: 1px 0 1px #E7E7E7;
    -moz-box-shadow: 1px 0 1px #E7E7E7;
    box-shadow: 1px 0 1px #E7E7E7;
    background: #fdfdfd;
    background: -moz-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f2f2f2));
    background: -webkit-linear-gradient(top, #fdfdfd 0%,#f2f2f2 100%);
    background: -o-linear-gradient(top, #fdfdfd 0%,#f2f2f2 100%);
    background: -ms-linear-gradient(top, #fdfdfd 0%,#f2f2f2 100%);
    background: linear-gradient(top, #fdfdfd 0%,#f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2',GradientType=0 );
}

.pre-container header .art-time {
    font-weight:lighter;
    font-size: 12px;
    line-height: 40px;
    color: #999;
    float: right;
}

.blog-pre .pre-show {
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 2px solid #ccc;
    color: #303030;
    font-size: 18px;
    font-weight: bold;
}

.blog-pre:hover .pre-show {
    border: none;
    border-top: 2px solid #CCC;
}

/*expand*/
.blog-expand {
    border-bottom: 2px solid #D3D3D3;
    -webkit-box-shadow: 0 10px 10px #D3D3D3;
    -moz-box-shadow: 0 10px 10px #D3D3D3;
    box-shadow: 0 10px 10px #D3D3D3;
    width: 96%;
    background: #fdfdfd;
    background: -moz-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f2f2f2));
    background: -webkit-linear-gradient(top, #fdfdfd 0%,#f2f2f2 100%);
    background: -o-linear-gradient(top, #fdfdfd 0%,#f2f2f2 100%);
    background: -ms-linear-gradient(top, #fdfdfd 0%,#f2f2f2 100%);
    background: linear-gradient(top, #fdfdfd 0%,#f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2',GradientType=0 );
}

.blog-expand .pre-container {
    height: inherit;
}

.blog-expand .pre-show {
    border: none;
    border-top: 2px solid #ccc;
}